{% extends 'base.html' %}


{% block title %}
about
{% endblock %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'C:\Users\athil\OneDrive\Desktop\new-project\work\static\css\lig.css' %}">


<div class="container">
  <br><br><br>
  <h1 class="glowing-text">You can buy book using this link</h1>
  <a href="https://www.amazon.com/s?k=books&i=stripbooks-intl-ship&crid=3W2W8G909LKKD&sprefix=b%2Cstripbooks-intl-ship%2C1357&ref=nb_sb_noss_2"><button>Press to continue</button></a>
</div>


  <hr>
  <div class="container text-center bg-light">




 




{% endblock %}

